*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(174, 240, 174);
}

p {
    color: rgb(3, 52, 3);
    font-weight: bold;
    font-size: 200%;
}

button {
    outline:dashed;
    background-color: rgb(174, 240, 174);
    color:rgb(3, 52, 3);
    font-size: 120%;
}

/*positioning the main container*/
.container {
    padding: 15px;
}
.topbar {
    padding-top: 25px;
}
/*positioning the timer */
.topbar p {
    float: right
}

